/* Write your CSS here */

.jumbotron {
  margin-bottom: 0;
  background: #ce3537;
  color: white;
}

.navbar-nav>li {
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 5%;
}

p {
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 14px;
}

button {
  padding-bottom: 5%;
  padding-right: 5%;
}

.table-container {
  padding-left: 5%;
  padding-right: 5%;
}

.table {
  border-style: double;
  border: 2px solid lightgrey;
}


.form-group {
  padding-right: 3px;
  padding-bottom: 3px;
}

form {
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 7%;
}